@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ::-webkit-scrollbar {
//   width: 0;
// }

h3,
p {
  margin-bottom: 0.5rem;
}

.welcome-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.button-start {
  width: 500px;
  height: 100px;
  font-size: 50px;
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
  background-color: v.$selected-color;
  transition: all 0.3s ease;
  border: none;

  &:hover {
    opacity: 80%;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border: none;
  background-color: v.$unselected-color;
  padding: 0.5rem;

  &.active {
    background-color: v.$selected-color;
  }
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  min-height: 100px;
  min-width: 250px;
  padding: 1rem;
  border: 2px v.$unselected-color solid;
  border-radius: 10px;
  margin: {
    top: 0.5rem;
    bottom: 0.5rem;
  }
}
